@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
$font-size-huge: 50px;
$font-size-large:34px;
$font-size-medium: 24px;
$font-size-small: 15px;

$font-family-title: 'Roboto', sans-serif;
$text-color-white: #fff;
$text-color-black: #000;
